.jumbotron {
    padding-top: 6rem ;
    background-color: #e2edff;
}

#projects {
    background-color: #e2edff;
}

.object {
    object-fit: cover
}

section {
    padding-top: 5rem;
}

/* ini nambah line */